.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0c3a56;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}
.App-header .button {
  display: inline-block;
  padding: 10px 20px;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f0c29, #302b63, #24243e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 17px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

/* Button hover effect */
.button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Optional: Add more styles for active state */
.button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.chatSection{
  width: 100%;
  height: 90vh;
}
.headBG {
  background-color: #e0e0e0;
}
.borderRight500{
  /*background:linear-gradient(107deg, rgb(226, 8, 128/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background-image: linear-gradient(to right top, #6a3653, #53304c, #3d2a42, #2b2335, #1c1b26, #1b1d26, #1b1f26, #1d2125, #283034, #334044, #3f5052, #4d6160); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background-image: linear-gradient(to right top, #cc96b4, #b28cab, #98829f, #827891, #6e6d80, #6d7283, #6d7785, #6f7b86, #80929c, #92aab1, #a6c2c5, #bcdad9); */
  background: #283048;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.messageArea {
  height: 75vh;
  overflow-y : auto;
  background-image: url('aaa.jpg');

  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.senderMsgBox {
  border-radius: 0px 15px 15px 20px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


